.z*
.[abegtXinsopw]*
*[ails]/
.cache/
.config/[adDgGhmnprsStVolf]*/
.config/*.*
.config/i3/wp2.json
code/bash/.tmp/
code/bash/auto.sh
code/bash/xdo/acc[1234]
code/python/kq.py
.gitconfig
.gitignore.swp
.gnupg/
.viminfo
[Psjrdg]*
.[kmPvG]*/
[bt]*/
config.bin
