.z*
.[abegtXinsopw]*
*[ails]/
.cache/
.config/[aDgGhmnprsStVolf]*/
.config/*.*
.config/i3/wp2.json
code/bash/.tmp/
.gitconfig
.gitignore.swp
.gnupg/
.viminfo
[Psjrg]*
.[kmPvG]*/
config.bin
.config/dconf
.config/discord
t*
code/bash/xdo/a*
bin/
dis*
